<!DOCTYPE html>
<html>
<head>  
  <link rel="stylesheet" href="input.css">
</head>
<h1>General Purpose Sentiment Analyzer</h1>
<h2> <a href = "https://github.com/vishytheswishy"> Checkout my Github! </a></h2>
<h5>created by Vishaal Yalamanchali</h5>
<p> enter a statement or sentence and a trained logistical regression model will determine the sentiment of your statement! </p>
<form method = "POST">
    <div class="search">
        <input type="search" name="text" class="search-box" />
        <input type ="submit" />
        <span class="search-button">
          <span class="search-icon"></span>
        </span>
    </div>
</form>
</html>