aniso8601==8.0.0
click==7.1.2
emoji==0.6.0
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
itsdangerous==1.1.0
joblib==0.16.0
MarkupSafe==1.1.1
nltk==3.5
python-multipart==0.0.5
pytz==2020.1
regex==2020.9.27
numpy
scikit-learn==0.22.1
six==1.15.0
threadpoolctl==2.1.0
tqdm==4.50.0
Werkzeug==1.0.1
